body{
    background-color: #e5e5e5;
}
h3{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: inline;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e1e1;
    margin: 1em 0;
    padding: 0; 
}
input{
    width: 92%;
    height: 40px;
    font-size: 18px;
    font-weight: 200;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 15px;
}
.container{
    margin: 40px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFF;
    width: 30%;
}
input.ng-invalid.ng-touched{
    border: 2px solid red;
}
#btn-cancel{
    background-color: #FFF;
    border: none;
    float: right;
    cursor: pointer;
}
.form{
    text-align: center;
}
#logo{
    width:130px;
    height: 130px;
    margin-bottom: 20px;
    /* border-radius: 50%; */
}
#forgot-password{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 18px;
   font-weight: 300;
   cursor: pointer;
    float: right;
}
#btn-signIn{
    width: 99%;
    height: 42px;
    font-size: 18px;
    font-weight: 200;
    padding: 0 20px;
    color:#FFF;
    border: none;
    border-radius: 10px;
    background-color: #489FF4;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgb(121, 120, 120);

}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #e1e1e1;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
#logo-btn{
    position: absolute;
    width: 35px;
    float: left;
    left: 40px;
}
.btn-socialMedia{
    position: relative;
    display: flex;
    width: 99%;
    height: 40px;
    border: 2px solid #e1e1e1;
    background-color: #FFF;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    margin: 15px auto;
}
.btn-socialMedia > span{
    display: inline-block;
    position: absolute;
    font-size: 18px;
    top: 10px;
    color: #818181;
}
.register{
    margin: 20px auto;
    text-align: center;

}
.register > span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-right: 10px;
}
.register > a{
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

@media only screen and (max-width: 1400px) {
    .container{
        width: 35%;
    }
}
@media only screen and (max-width: 1200px) {
    .container{
        width: 40%;
    }
    #logo-btn{
        left:40px;
    }
}
@media only screen and (max-width: 1000px) {
    .container{
        width: 45%;
    }
    #logo-btn{
        left:30px;
    }
}
@media only screen and (max-width: 900px) {
    .container{
        width: 50%;
    }
    #logo-btn{
        left:20px;
    }
}
@media only screen and (max-width: 750px) {
    .container{
        width: 60%;
    }
    #logo-btn{
        left:10px;
    }
}
@media only screen and (max-width: 600px) {
    .container{
        width: 80%;
    }
    #logo-btn{
        left:10px;
    }
}