.container-fluid {
  width: 100vw;
  height: 50px;
  box-shadow: 0 2px 6px -3px black;
  margin: auto;
  padding: 0 10%;
}

form {
  display: inline;
}

.page-control {
  margin: auto;
}

.page-control>img {
  max-width: 100%;
  max-height: 50px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.page-control>form>input {
  margin-left: 50px;
  width: 70%;
  height: 35px;
  padding: 0 20px;
  background-color: #f3f0f0;
  border: none;
  border-radius: 10px;
}

.page-control>form>button {
  width: 35px;
  height: 35px;
  background-color: #f3f0f0;
  margin-left: 2px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.page-control>form>button:hover {
  background: #ddd;
}

.account-control {
  text-align: right;
  padding: auto;
  margin: auto;
}

.account-control>div>input {
  background-color: #fff;
  height: 35px;
  width: 100px;
  margin-right: 20px;
  border: 2px solid #76E2FB;
  border-radius: 10px;
  color: #76E2FB;
}

.account-control>div>input:hover {
  border: 2px solid #62c1d6;
  color: #62c1d6;
}

.animated-border-button {
  background-color: #263059;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 3px 20px 3px;
  position: relative;
  font-size: 14px;
  margin-top: 10px;
}

.animated-border-button:before,
.animated-border-button:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}

.animated-border-button:before {
  border-top: 2px solid #263059;
  right: 0;
  top: -4px;
}

.animated-border-button:after {
  border-bottom: 2px solid #263059;
  bottom: -4px;
  left: 0;
}

.animated-border-button:hover:before,
.animated-border-button:hover:after {
  width: 100%;
}
ul{
  padding: 0;
  list-style: none;
}
ul li{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
ul li a{
  display: block;
  padding: 8px 20px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}
ul li a:last-child:hover{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul li a:hover{
  color: #fff;
  background-image: linear-gradient(to right, #5be0f5,#5d4cf0);
}
ul li ul.dropdown{
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 4px;
  min-width: 160px; /* Set width of the dropdown */
  background-image: linear-gradient(to right, #6EE2F5,#6454F0);
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
ul li:hover ul.dropdown{
  display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
  display: block;
}