<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid row">
  <div class="page-control col-8">
    <img src="../../assets/img/logo5.png" routerLink="/index" alt="logo">
    <form>
      <input type="text" placeholder="Nhập gì đó để tìm kiếm...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

  </div>
  <div class="account-control col-4">
    <input type="button" routerLink="/signin" value="Đăng nhập">
    <input type="button" routerLink="/signup" value="Đăng ký">
  </div>
</div>
