.container-fluid {
  width: 100vw;
  height: 50px;
  box-shadow: 0 2px 6px -3px black;
  margin: auto;
  padding: 0 10%;
}

form {
  display: inline;
}

.page-control {
  margin: auto;
}

.page-control>img {
  max-width: 100%;
  max-height: 50px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.page-control>form>input {
  margin-left: 50px;
  width: 70%;
  height: 35px;
  padding: 0 20px;
  background-color: #f3f0f0;
  border: none;
  border-radius: 10px;
}

.page-control>form>button {
  width: 35px;
  height: 35px;
  background-color: #f3f0f0;
  margin-left: 2px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.page-control>form>button:hover {
  background: #ddd;
}

.account-control {
  text-align: right;
  padding: auto;
  margin: auto;
}

.account-control>input {
  background-color: #fff;
  height: 35px;
  width: 100px;
  margin-right: 20px;
  border: 2px solid #76E2FB;
  border-radius: 10px;
  color: #76E2FB;
}

.account-control>input:hover {
  border: 2px solid #62c1d6;
  color: #62c1d6;
}
