<div class="container-fluid row">
  <div class="member col-5">
    <h5>Sinh viên thực hiện</h5>
    <p>Nguyễn Thị Như Quỳnh - 18110189</p>
    <p>Nguyễn Cước Thiên &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - 18110204</p>
    <p>Tu Ngọc Yến Vy &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 18110243</p>
  </div>
  <div class="contact col-7">
    <h5>Thông tin liên hệ</h5>
    <div class="row">
      <div class="phone col-4">
        <a href="tel:+84985194510"><img src="https://img.icons8.com/dusk/20/000000/phone.png" />0985 194 510</a>
        <a href="tel:+84708033730"><img src="https://img.icons8.com/dusk/20/000000/phone.png" />0708 033 730</a>
        <a href="tel:+84334874819"><img src="https://img.icons8.com/dusk/20/000000/phone.png" />0334 874 819</a>
      </div>
      <div class="email col-8">
        <a href="mailto:18110189@student.hcmute.edu.vn"><img
            src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/20/000000/external-mail-mail-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-22.png" />
          18110189@student.hcmute.edu.vn
        </a>
        <a href="mailto:18110204@student.hcmute.edu.vn"><img
            src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/20/000000/external-mail-mail-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-22.png" />
          18110204@student.hcmute.edu.vn
        </a>
        <a href="mailto:18110243@student.hcmute.edu.vn"><img
            src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/20/000000/external-mail-mail-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-22.png" />
          18110243@student.hcmute.edu.vn
        </a>
      </div>
    </div>
  </div>
</div>
