.container-manage-post{
    margin-top: 3px;
    min-height: 100vh;
    height: auto;
}
.control-browse-articles{
    width: 100%;
    height: 60px;
    padding-top: 5px;
    background-color: #6454F0;
}
.control-browse-articles > ul{
    list-style: none;
    height: 54px;
    width: 100%;
    padding: 0 6px;
}
.control-browse-articles > ul > li{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: auto;
    cursor: pointer;
    padding: 10px 0;
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
}
.active-control{
    background-color: #FFF;
    color: #6454F0!important;
}
.control-browse-articles > ul > li:hover{
    background-color: #FFF;
    color: #6454F0!important;
}
.select-group{
    width: 30%;
    float: right;
    height: 30px;
    border: 2px solid #6454F0;
    text-align: center;
    color: #6454F0;
    font-weight: bolder;
    cursor: pointer;
    margin: 2px 0;
}
.select-group:focus{
    outline: #6454F0;
}
.filter{
    float: right;
    font-weight: bold;
    color: #6454F0;
    margin: 2px 0 ;
}
.image-post-table{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
}
.pagination{
    margin: auto;
    text-align: center;
    width: 100%;
    display: inline;
}
svg{
    pointer-events: none;
}
.emptyList{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 25px;
}