<div class="container">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <h2>Quản lý bình luận</h2>
    <hr>
    <select [ngModel]="filterString" class="select-group" (ngModelChange)="filter($event)">
        <option *ngFor="let group of listGroup" [value]="group._id">{{group.Name}}</option>
      </select>
    <span class="filter">Lọc bài viết theo nhóm: </span>
    <div class="my-custom-scrollbar table-wrapper-scroll-y">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col" style="width: 25%;">Tiêu đề bài viết</th>
            <th scope="col" style="width: 20%;">Email</th>
            <th scope="col" style="width: 45%;">Nội dung bình luận</th>
            <th scope="col" style="width: 10%;">Thao tác</th>
          </tr>
        </thead>
        <tbody *ngIf="filterString=='Review'">
          <td colspan="4" class="emptyList" *ngIf="listCmtReview.length==0">Không có dữ liệu</td>
          <tr  *ngFor="let post of listCmtReview| paginate: {itemsPerPage: 5, currentPage:p}">
            <td>{{post.Title}}</td>
            <td colspan="3" style="padding-bottom: 0;">
              <table class="table table-hover" style="width: 100%; margin-bottom: 0;">
                <tbody class="listCmt">
                  <tr *ngIf="post.Comment.length==0"><td colspan="3" style="text-align: center;">Không có bình luận</td></tr>
                  <tr style="width: 100%!important;" *ngFor="let cmt of post.Comment; let i = index">
                    <td style="width: 25%;">{{cmt.FullName}}</td>
                    <td style="width: 64%;">{{cmt.Content}}</td>
                    <td style="width: 11%;">
                      <!-- Delete Cmt -->
                      <button *ngIf="cmt.IsReply === false" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteComment" id="{{cmt.cmtId}}" name="{{cmt.Content}}"
                        (click)="setValue($event)">
                        <svg (click)="setValue($event)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                          </path>
                        </svg>
                      </button>
                      <!-- Delete Reply -->
                      <button *ngIf="cmt.IsReply === true" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteComment" id="{{cmt.cmtId}}&{{cmt.replyId}}" name="{{cmt.Content}}"
                        (click)="setValue($event)">
                        <svg (click)="setValue($event)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                          </path>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="filterString=='Experience'">
          <td colspan="4" class="emptyList" *ngIf="listCmtExp.length==0">Không có dữ liệu</td>
          <tr  *ngFor="let post of listCmtExp| paginate: {itemsPerPage: 5, currentPage:p}">
            <td>{{post.Title}}</td>
            <td colspan="3" style="padding-bottom: 0;">
              <table class="table table-hover" style="width: 100%; margin-bottom: 0;">
                <tbody class="listCmt">
                  <tr *ngIf="post.Comment.length==0"><td colspan="3" style="text-align: center;">Không có bình luận</td></tr>
                  <tr style="width: 100%!important;" *ngFor="let cmt of post.Comment; let i = index">
                    <td style="width: 25%;">{{cmt.FullName}}</td>
                    <td style="width: 64%;">{{cmt.Content}}</td>
                    <td style="width: 11%;">
                      <!-- Delete Cmt -->
                      <button *ngIf="cmt.IsReply === false" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteComment" id="{{cmt.cmtId}}" name="{{cmt.Content}}"
                        (click)="setValue($event)">
                        <svg (click)="setValue($event)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                          </path>
                        </svg>
                      </button>
                      <!-- Delete Reply -->
                      <button *ngIf="cmt.IsReply === true" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteComment" id="{{cmt.cmtId}}&{{cmt.replyId}}" name="{{cmt.Content}}"
                        (click)="setValue($event)">
                        <svg (click)="setValue($event)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                          </path>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="filterString=='Forum'">
          <td colspan="4" class="emptyList" *ngIf="listCmtForum.length==0">Không có dữ liệu</td>
          <tr  *ngFor="let post of listCmtForum| paginate: {itemsPerPage: 5, currentPage:p}">
            <td>{{post.Title}}</td>
            <td colspan="3" style="padding-bottom: 0;">
              <table class="table table-hover" style="width: 100%; margin-bottom: 0;">
                <tbody class="listCmt">
                  <tr *ngIf="post.Comment.length==0"><td colspan="3" style="text-align: center;">Không có bình luận</td></tr>
                  <tr style="width: 100%!important;" *ngFor="let cmt of post.Comment; let i = index">
                    <td style="width: 25%;">{{cmt.FullName}}</td>
                    <td style="width: 64%;">{{cmt.Content}}</td>
                    <td style="width: 11%;">
                      <!-- Delete Cmt -->
                      <button *ngIf="cmt.IsReply === false" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteComment" id="{{cmt.cmtId}}" name="{{cmt.Content}}"
                        (click)="setValue($event)">
                        <svg (click)="setValue($event)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                          </path>
                        </svg>
                      </button>
                      <!-- Delete Reply -->
                      <button *ngIf="cmt.IsReply === true" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteComment" id="{{cmt.cmtId}}&{{cmt.replyId}}" name="{{cmt.Content}}"
                        (click)="setValue($event)">
                        <svg (click)="setValue($event)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                          </path>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <pagination-controls class="pagination" previousLabel="" nextLabel="" (pageChange)="p=$event"></pagination-controls>
</div>

<!-- Delete Comment -->
<div class="modal fade" id="deleteComment" tabindex="-1" aria-labelledby="deleteCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCommentLabel">Xoá bình luận</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xoá bình luận này không?<br>
          <span>Nội dung: {{cmtContent}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteComment()">Xoá</button>
        </div>
      </div>
    </div>
  </div>