.container-fluid{
    background-color: #F4F3F3;
    height: 100%;
    margin-top: 3px;
}

.navbar-forums{
    display: block;
    background-color: #F4F3F3;
    min-height: 100vh;
    padding: 0;
}
.navbar-forums h5{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
}
.navbar-forums ul{
    width: 80%;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.navbar-forums ul li{
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #AFAFAF;
}
.navbar-forums ul li:first-child{
    border-top: 1px solid #AFAFAF;
}
.navbar-forums ul li:hover{
    background-color: #87C0F3;
    color: #FFF;
}
.active{
    background-color: #87C0F3;
    color: #FFF;
}
.create-post-forums{
    margin: 10px 0;
    border-radius: 10px;
    background-color: #FFF;
    padding: 10px 20px;
}
.create-post-forums h4{
    text-align: center;
}
.create-post-forums form{
    padding-left: 10px;
    margin-top: 20px;
}
.img-forums{
    max-height: 40px;
    max-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.create-post-forums form input{
    width: 80%;
    height: 40px;
    background-color: #EBEBEB;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    padding: 0 20px;
}
.post-forums{
    background-color: #FFF;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px 20px;
}
.post-forums h6{
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.post-forums span{
    font-size: 10px;
    margin: 0;
}
.author-forums{
    display: flex;
}
.author-forums-image{
    width: 10.67%;
    padding: 0;
    margin: 0;
}
.author-forums-image img{
    margin-left: 10px;
    margin-right: 10px;
}
.author-forums-fullname{
    width: 83.33%;
}
.content-forums{
    margin-top: 20px;
}
.rating-forums{
    position: relative;
    margin-bottom: 10px;
}
.rating-forums > h6{
    display: inline;
    position: absolute;
    bottom: 0;
}
.rating-forums>app-star{
    width: 50%;
    display: inline-block;
    margin-left: 100px;
}
hr{
    padding: 0;
    margin: 5px 0;
}
.post.rating-forums p {
    margin: 0;
    padding: 0;
}
textarea{
    border-radius: 10px;
    resize: none;
    background-color: #EBEBEB;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
}
.category-forums{
    padding-left: 70px;
margin-top: 10px;
}
.category-forums img {
    max-width: 100%;
    max-height: 180px;
    border-radius: 10px;
    height: auto;
    width: auto;
    margin-bottom: 10px;
}
.btn-view-forums{
    float: right;
    display: inline;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.empty-list{
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
}
.menu-cate{
    position: relative;
    display: none;
    list-style: none;
  }
  .menu-cate li{
      display: inline-block;
  }
  .menu-cate > li > button{
    margin: 6px 0;
    height: 34px;
    width: 34px;
    padding: 0;
    background-color: #FFF;
    border: 1px solid #76E2FB;
    border-radius: 10px;
  }
  .menu-cate-dropdown li{
    display: block;
    text-align: left;
    padding: 8px 5px;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
  }
  .menu-cate-dropdown{
    display: none;
    width: 30%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px; /* Set width of the dropdown */
    background-image: linear-gradient(to right, #6EE2F5,#6454F0);
    position: absolute;
    z-index: 999;
    left: 20px;
    padding: 0;
  }
  .menu-cate-dropdown li:hover{
    background-image: linear-gradient(to right, #65d0e0,#5d4edd);

  }
  .menu-cate:hover .menu-cate-dropdown{
  display: block;
  }
  .btn_loadMore{
      width: 100%;
      text-align: center;
  }
  #loadMore{
    height: 40px;
    width: 250px;
    border: 2px solid darkgray;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 2px 2px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 16%), 0 8px 8px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
  }
  #backToTop{
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 300;
    height: 45px;
    width: 60px;
  }
  svg{
      pointer-events: none;
  }
@media only screen and (max-width: 63.9375em) {
    .menu-cate{
        width: auto;
        display: inline;
        float: left;
        top:10px;
        left: -15px;
    }
    .navbar-forums{
        display: none;
    }
    .category-forums{
        display: none;
    }
    .body-forums{
        width: 80%;
        margin: 20px auto;
    }
    .create-post-forums form input{
        width: 80%;
        margin-left: 10px;
    }
    #backToTop{
        right: 30;
    }
}
/* tablet */
@media only screen and (min-width: 46.24em) and (max-width: 63.9375em) {
  
    
  }
  /* mobile */
  @media only screen and (max-width: 46.1875em) {
      .body-forums{
          width: 100%;
          margin: 0;
      }
    .create-post-forums form input{
        width: 70%;
        margin-left: 3px;
    }
    .author-forums-image{
        width: 30%;
    }
    .author-forums-fullname{
        width: 70%;
    }
    #backToTop{
        right: 0;
        width: 50px;
    }
  }