.header{
    background-color: #05152D;
    height: 120px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
h4{
    color: #FFF;
}
button{
    border-radius: 5px;
    border: none;
    padding: 5px 40px;
    margin-top: 10px;
}
.container-shareExp{
    margin: auto;
    width: 90%;
}
.navbar-shareExp{
    display: block;
    background-color: #F6F6F6;
    padding: 0;
    min-height: 100vh;
}
.navbar-shareExp h5{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
}
.navbar-shareExp ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.navbar-shareExp ul li{
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #AFAFAF;
}
.navbar-shareExp ul li:first-child{
    border-top: 1px solid #AFAFAF;
}
.navbar-shareExp ul li:hover{
    background-color: #87C0F3;
    color: #FFF;
}
.active{
    background-color: #87C0F3;
    color: #FFF;
}
.listPost-shareExp{
    padding-top: 52px;
    margin: 0 auto;
}
.post-shareExp{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #AFAFAF;
    margin: auto;
    margin-bottom: 15px;
    cursor: pointer;
    
}
.post-shareExp div img{
    max-width: 100%;
    max-height: 130px;
    width: auto;
    height: auto;
    display: inline;
}
.post-shareExp .col-3{
    padding: 0;
    margin: auto;
}
.post-shareExp h5{
    display: inline-block;
}
.author-shareExp{
    margin: 0;
    position: absolute;
    float: left;
    bottom: 0;
    font-style: italic;
    font-size: 16px;
}
.content-shareExp>app-star{
    position: absolute;
    bottom: 0;
    right: 0;
}
.avg-star{
    max-height: 20px;
    text-align: center;
    color: gold;
    font-size: 16px;
}
.star{
color: gold;
}
.listHotPost{
    margin-top: 20px;
}
.container-shareExp .col-3{
    width: 24%;
}
.hotpost{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #AFAFAF;
    margin-bottom: 15px;
    cursor: pointer;
    padding-bottom: 15px;
}
.hotpost div img{
    max-width: 100%;
    max-height: 77px;
    width: auto;
    height: auto;
    display: inline;
    border-radius: 5px;
}

.pagination{
    margin: auto;
    text-align: center;
    width: 100%;
    display: inline;
}
.overview-share{
    margin-bottom: 25px;
    font-size: 16px!important;
}
.empty-list{
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
}