<div class="header">
  <h4>KINH NGHIỆM HAY & MẸO VẶT</h4>
  <button>+ Viết những chia sẻ của bạn</button>
</div>
<div class="container row">
  <div class="navbar col-2">
    <h5>CHỦ ĐỀ</h5>
    <ul class="dropdown">
      <li class="active"><a>Mẹo vặt cuộc sống</a></li>
      <li><a>Bí quyết làm đẹp</a></li>
      <li><a>Vào bếp</a></li>
      <li><a>Mẹo hay công nghệ</a></li>
    </ul>
  </div>
  <div class="listPost col-7">
    <div class="post row">
      <div class="col-3">
        <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
          alt="">
      </div>
      <div class="content col-9">
        <h5>Mẹo bảo quản thực phẩm đúng cách</h5>
        <p>Bảo quản thực phẩm trong tủ lạnh là cần thiết, tuy nhiên bạn đã bảo quản đúng cách chưa?</p>
        <p class="author">nhuquynh123  -   16/10/2021</p>
        <app-star id="SHAREPOST01" rate="4"></app-star>
      </div>
    </div>
    <div class="post row">
        <div class="col-3">
          <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
            alt="">
        </div>
        <div class="content col-9">
          <h5>Mẹo bảo quản thực phẩm đúng cách</h5>
          <p>Bảo quản thực phẩm trong tủ lạnh là cần thiết, tuy nhiên bạn đã bảo quản đúng cách chưa?</p>
          <p class="author">nhuquynh123  -   16/10/2021</p>
          <app-star id="SHAREPOST02" rate="1"></app-star>
        </div>
      </div>
      <div class="post row">
        <div class="col-3">
          <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
            alt="">
        </div>
        <div class="content col-9">
          <h5>Mẹo bảo quản thực phẩm đúng cách</h5>
          <p>Bảo quản thực phẩm trong tủ lạnh là cần thiết, tuy nhiên bạn đã bảo quản đúng cách chưa?</p>
          <p class="author">nhuquynh123  -   16/10/2021</p>
          <app-star id="SHAREPOST03" rate="1"></app-star>
        </div>
      </div>
      <div class="post row">
        <div class="col-3">
          <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
            alt="">
        </div>
        <div class="content col-9">
          <h5>Mẹo bảo quản thực phẩm đúng cách</h5>
          <p>Bảo quản thực phẩm trong tủ lạnh là cần thiết, tuy nhiên bạn đã bảo quản đúng cách chưa?</p>
          <p class="author">nhuquynh123  -   16/10/2021</p>
          <app-star id="SHAREPOST04" ></app-star>
        </div>
      </div>
  </div>
  <div class="listHotPost col-3">
      <h5>Top bài viết hay nhất</h5>
    <div class="hotpost row">
        <div class="col-5">
          <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
            alt="">
        </div>
        <div class="hotpostcontent col-7">
          <p>Mẹo bảo quản thực phẩm đúng cách</p>
        </div>
      </div>
      <div class="hotpost row">
        <div class="col-5">
          <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
            alt="">
        </div>
        <div class="hotpostcontent col-7">
          <p>Mẹo bảo quản thực phẩm đúng cách</p>
        </div>
      </div>
      <div class="hotpost row">
        <div class="col-5">
          <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
            alt="">
        </div>
        <div class="hotpostcontent col-7">
          <p>Mẹo bảo quản thực phẩm đúng cách</p>
        </div>
      </div>
      <div class="hotpost row">
        <div class="col-5">
          <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/xqeioxmrke/2020_04_26/xoaigiupgiamcan_rqlj.jpg"
            alt="">
        </div>
        <div class="hotpostcontent col-7">
          <p>Mẹo bảo quản thực phẩm đúng cách</p>
        </div>
      </div>
  </div>
  
</div>
