<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="header">
  <h4>KINH NGHIỆM HAY & MẸO VẶT</h4>
  <button routerLink="/create-post">+ Viết những chia sẻ của bạn</button>
</div>
<div class="container-shareExp row">
  <div class="navbar-shareExp col-2">
    <h5>CHỦ ĐỀ</h5>
    <ul class="dropdown-shareExp">
      <li class="item" *ngFor="let category of categories" id="{{category.id}}"
        (click)="active($event);getPostByCategory($event)">{{category.Name}}</li>
    </ul>
  </div>
  <h2 *ngIf="isEmpty" style="margin-top: 50px;" class="empty-list col-7">Không có bài viết nào</h2>
  <div *ngIf="!isEmpty" class="listPost-shareExp col-7">
    <div class="post-shareExp row" *ngFor="let post of listPost | paginate: {itemsPerPage: 5, currentPage:p}"
      id="{{post.dataPost.Id}}" routerLink="/post-detail/Experience/{{post.dataPost.Id}}">
      <div class="col-3">
        <img
          [src]="post.dataPost.Image || 'https://4.bp.blogspot.com/-OCutvC4wPps/XfNnRz5PvhI/AAAAAAAAEfo/qJ8P1sqLWesMdOSiEoUH85s3hs_vn97HACLcBGAsYHQ/s1600/no-image-found-360x260.png'"
          alt="">
        <p class="avg-star">{{post.Rating.AvgRate}}<span class="star">★</span> | {{post.Rating.count || 0}} bài đánh giá
        </p>
      </div>
      <div class="content-shareExp col-9">
        <h5>{{post.dataPost.Title}}</h5>
        <p class="overview-share">{{post.dataPost.Overview}}</p>
        <p class="author-shareExp">{{post.FullName}} - {{post.dataPost.CreateAt|date:'HH:mm dd/MM/yyyy'}}</p>
        <app-star id="{{post.dataPost.Id}}" [rate]="post.RatingbyAcc || 0"></app-star>
      </div>
    </div>
    <pagination-controls class="pagination" previousLabel="" nextLabel="" (pageChange)="p=$event"></pagination-controls>
  </div>
  <div class="listHotPost col-3">
    <h5>Top bài viết hay nhất</h5>
    <div class="hotpost row" *ngFor="let hotpost of listHotPost" id="{{hotpost.dataPost.Id}}"
      routerLink="/post-detail/Experience/{{hotpost.dataPost.Id}}">
      <div class="col-5">
        <img
          [src]="hotpost.dataPost.Image || 'https://4.bp.blogspot.com/-OCutvC4wPps/XfNnRz5PvhI/AAAAAAAAEfo/qJ8P1sqLWesMdOSiEoUH85s3hs_vn97HACLcBGAsYHQ/s1600/no-image-found-360x260.png'"
          alt="">
      </div>
      <div class="hotpostcontent col-7">
        <p>{{hotpost.dataPost.Title}}</p>
      </div>
    </div>
  </div>

</div>
