.header{
    background-color: #05152D;
    height: 120px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
h4{
    color: #FFF;
}
button{
    border-radius: 5px;
    border: none;
    padding: 5px 40px;
    margin-top: 10px;
}
.container-shareExp{
    margin: auto;
    width: 90%;
    display: flex;
}
.navbar-shareExp{
    width: 16.66%;
    background-color: #F6F6F6;
    padding: 0;
    min-height: 100vh;
}
.navbar-shareExp h5{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
}
.navbar-shareExp ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.navbar-shareExp ul li{
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #AFAFAF;
}
.navbar-shareExp ul li:first-child{
    border-top: 1px solid #AFAFAF;
}
.navbar-shareExp ul li:hover{
    background-color: #87C0F3;
    color: #FFF;
}
.active{
    background-color: #87C0F3;
    color: #FFF;
}
.listPost-shareExp{

    padding: 0 10px;
    padding-top: 52px;
    margin: 0 auto;
    width: 58.33%;
}
.post-shareExp{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #AFAFAF;
    margin: auto;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
}
.content-shareExp-image img{
    max-width: 100%;
    max-height: 130px;
    width: auto;
    height: auto;
    display: inline;
}
.content-shareExp-image{
    width: 40%;
    padding: 0;
    margin: auto;
    margin-right: 5px;
}
.content-shareExp{
    width: 60%;
}
.post-shareExp h5{
    display: inline-block;
}
.author-shareExp{
    margin: 0;
    position: absolute;
    float: left;
    bottom: 0;
    font-style: italic;
    font-size: 16px;
}
.content-shareExp>app-star{
    position: absolute;
    bottom: 0;
    right: 0;
}
.avg-star{
    max-height: 20px;
    text-align: center;
    color: gold;
    font-size: 16px;
}
.star{
color: gold;
}
.listHotPost{
    margin-top: 20px;
    padding-left: 10px;
    width: 25%;
}
.container-shareExp{
    width: 90%;
}
.hotpost{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #AFAFAF;
    margin-bottom: 15px;
    cursor: pointer;
    padding-bottom: 15px;
}
.hotpost div img{
    max-width: 100%;
    max-height: 77px;
    width: auto;
    height: auto;
    display: inline;
    border-radius: 5px;
}

.pagination{
    margin: auto;
    text-align: center;
    width: 100%;
    display: inline;
}
.overview-share{
    margin-bottom: 25px;
    font-size: 16px!important;
}
.empty-list{
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
    width: 58.33%;
}

.menu-cate{
    position: relative;
    display: none;
    list-style: none;
  }
  .menu-cate > li > button{
    margin: 6px 0;
    height: 34px;
    width: 34px;
    padding: 0;
    background-color: #FFF;
    border: 1px solid #76E2FB;
    border-radius: 10px;
  }
  .menu-cate-dropdown li{
    display: block;
    text-align: left;
    padding: 8px 5px;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
  }
  .menu-cate-dropdown{
    display: none;
    width: 30%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px; /* Set width of the dropdown */
    background-image: linear-gradient(to right, #6EE2F5,#6454F0);
    position: absolute;
    z-index: 999;
    left: 20px;
    padding: 0;
  }
  .menu-cate-dropdown li:hover{
    background-image: linear-gradient(to right, #65d0e0,#5d4edd);

  }
  .menu-cate:hover .menu-cate-dropdown{
  display: block;
  }
@media only screen and (max-width: 63.9375em) {
    .menu-cate{
        display: block;
        float: left;
        top:20px;
        left: -15px;
    }
    .navbar-shareExp{
        display: none;
    }
    .listHotPost{
        display: none;
    }
    .listPost-shareExp{
        width: 100%;
    }
}
/* tablet */
@media only screen and (min-width: 46.24em) and (max-width: 63.9375em) {
  
    
  }
  /* mobile */
  @media only screen and (max-width: 46.1875em) {
    .overview-share{
        display: none;
    }
    .post-shareExp{
        height: 170px;
    }
    .author-shareExp{
        display: none;
    }
    .avg-star{
        display: none;
    }
    .container-shareExp{
        width: 90%;
    }
  }