<div class="container-fluid row">
    <div class="col-2 navbar">
        <img src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/000000/external-admin-project-work-icongeek26-linear-colour-icongeek26.png"/>
        <ul>
            <li class="active" id="users" (click)="active($event);redirect($event)" ><a>Users</a></li>
            <li id="posts" (click)="active($event);redirect($event)"><a>Posts</a></li>
        </ul>
    </div>
    <div class="col-10">
        <app-manage-users *ngIf="toUsers"></app-manage-users>
        <app-manage-posts *ngIf="toPosts"></app-manage-posts>
    </div>
</div>