.container-fluid{
    margin: 0;
    padding: 0;
}
.navbar{
    margin-top: 3px;
    padding: 0;
    height: 100vh;
    align-content: flex-start;
    background-image: linear-gradient(#c5f7ff,#9b90f9);

    
  box-shadow: 0 2px 6px 0px black;
}
img{
    margin: 20px auto;
    margin-bottom: 50px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
li{
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    width: 95%;
    margin: auto ;
}

.active{
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
    background-color: #3f51b5;
    border-radius: 5px;
   
}
.active >a{
    color: #FFF!important;
}
a{
    color: #3f51b5!important;
    font-size: 20px;
    font-weight: bold;
}
li:hover{
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
    background-color: #B4C5F8;
    border-radius: 5px;
}