<div class="container-fluid row">
  <div class="col-2 navbar-admin">
    <img
      src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/000000/external-admin-project-work-icongeek26-linear-colour-icongeek26.png" />
    <ul>

      <li class="items active" id="posts" (click)="active($event);redirect($event)">Bài viết</li>
      <li class="items" id="categories" (click)="active($event);redirect($event)">Danh mục</li>
      <li class="items" id="users" (click)="active($event);redirect($event)">Người dùng</li>
      <li class="items" id="group" (click)="active($event);redirect($event)">Nhóm</li>

    </ul>
  </div>
  <div class="col-10">
    <app-manage-users *ngIf="toUsers"></app-manage-users>
    <app-manage-posts *ngIf="toPosts"></app-manage-posts>
    <app-manage-categories *ngIf="toCategories"></app-manage-categories>
    <app-manage-group *ngIf="toGroup"></app-manage-group>
  </div>
</div>
