body{
    background-color: #e5e5e5;
}
h3{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: inline;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e1e1;
    margin: 1em 0;
    margin-bottom: 50px;
    padding: 0; 
}
input{
    width: 92%;
    height: 40px;
    font-size: 18px;
    font-weight: 200;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
}
input.ng-invalid.ng-touched{border: 2px solid red;}
input.ng-valid.ng-touched{border: 2px solid springgreen;}
.container{
    position: relative;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFF;
    width: 30%;
}
#btn-cancel{
    background-color: #FFF;
    border: none;
    float: right;
    cursor: pointer;
}
.form{
    text-align: center;
}

.btn-sign{
    width: 99%;
    height: 42px;
    font-size: 18px;
    font-weight: 200;
    padding: 0 20px;
    color:#FFF;
    border: none;
    border-radius: 10px;
    background-color: #489FF4;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sign-in{
    margin: 20px auto;
    text-align: center;

}
.sign-in > span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-right: 10px;
}
.sign-in > a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

/* tablet */
@media only screen and (min-width: 46.24em) and (max-width: 63.9375em) {
    .container{
        width: 40%;
    }
    h3{
        font-size: 23px;
    }
}
/* mobile */
@media only screen and (max-width: 46.1875em) {
    .container{
        width: 60%;
    }
    h3{
        font-size: 20px;
    }
}
@media only screen and (max-width: 550px) {
    .container{
        width: 80%;
    }
}