<div class="container">
  <ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>
  <h2>Quản lý trang web</h2>
  <div class="addGroup">
    <hr>
    <h4>Thêm nhóm cho trang web</h4>
    <form (ngSubmit)="onSubmit(formAddGroup);" #formAddGroup="ngForm">
        <input type="text" placeholder="Nhập ID nhóm" ngModel name="Id" required>
      <input type="text" placeholder="Nhập tên nhóm" ngModel name="Name" required>
      <button class="btn btn-primary">Thêm</button>
    </form>
    <hr>
  </div>

  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Tên loại</th>
        <th scope="col" style="width: 25%;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of listGroup | paginate: {itemsPerPage: 5, currentPage:p}; let i = index">
        <th scope="row" *ngIf="p!=1">{{(p-1)*5+i+1}}</th>
        <th scope="row" *ngIf="p==1">{{i+1}}</th>
        <td>{{group._id}}</td>
        <td>{{group.Name}}</td>
        <td>
          <button type="button" id="{{group._id}}" name="{{group.Name}}" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateGroup" (click)="update($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
          viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
          </path>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
          </path>
        </svg>
      </button>&nbsp;
      <button type="button" class="btn btn-outline-danger" id="{{group._id}}" name="{{group.Name}}" data-bs-toggle="modal" data-bs-target="#deleteGroup" (click)="update($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
</svg>
      </button>
            <!-- <button id="{{group._id}}" name="{{group.Name}}" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateGroup" (click)="update($event)">Chỉnh sửa</button>
            <button id="{{group._id}}" name="{{group.Name}}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGroup" (click)="update($event)" >Xoá</button> -->
        </td>
      </tr>
    </tbody>
    
  </table>
  <pagination-controls class="pagination"
    previousLabel="" 
    nextLabel="" (pageChange)="p=$event"></pagination-controls>
</div>



<!-- Update Group -->
<div class="modal fade" id="updateGroup" tabindex="-1" aria-labelledby="updateGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateGroupLabel">Chỉnh sửa nhóm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span>ID:</span> <input type="text" [(ngModel)]="Id" disabled><br>
            <span>Tên:</span> <input type="text" [(ngModel)]="Name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="updateGroup()">Chỉnh sửa</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Delete Group -->
<div class="modal fade" id="deleteGroup" tabindex="-1" aria-labelledby="deleteGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteGroupLabel">Xoá nhóm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Bạn có chắc chắn muốn xoá Nhóm này không?<br>
            <span>ID:</span> <input type="text" [(ngModel)]="Id" disabled><br>
            <span>Tên:</span> <input type="text" [(ngModel)]="Name" disabled>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteGroup()">Xoá</button>
        </div>
      </div>
    </div>
  </div>