<div class="header">
  <h4>KINH NGHIỆM HAY & MẸO VẶT</h4>
  <h5>Các bài review, chia sẻ trải nghiệm sử dụng thực tế từ thành viên,<br>rất hữu ích khi bạn cần tham khảo để chuẩn
    bị mua đồ cho mình.<br>
    Đừng quên chia sẻ review của bạn khi đã trải nghiệm xong món đồ nhé!!!</h5>
  <button>+ Viết những chia sẻ của bạn</button>
</div>
<div class="container">
  <div class="post row">
    <div class="col-3">
      <img src="https://i.ytimg.com/vi/QrLaCaa2k80/maxresdefault.jpg" alt="">
    </div>
    <div class="content col-9">
      <h5>Trên tay đèn cảnh báo nguy hiểm đa năng, khá hữu ích cho các tài xế hay chạy đêm</h5>
      <p>Một cái đèn cảnh báo nguy hiểm hình tam giác với rất nhiều tính năng hữu ích dành cho các bạn chạy xe, nhất là
        những lúc gặp sự cố hay cần ánh sáng kiểm tra xe vào ban đêm</p>
      <p class="author">nhuquynh123 - 16/10/2021</p>
      <app-star id="REVIEWPOST01" rate="4"></app-star>
    </div>
  </div>
  <div class="post row">
    <div class="col-3">
      <img src="https://i.ytimg.com/vi/QrLaCaa2k80/maxresdefault.jpg" alt="">
    </div>
    <div class="content col-9">
      <h5>Trên tay đèn cảnh báo nguy hiểm đa năng, khá hữu ích cho các tài xế hay chạy đêm</h5>
      <p>Một cái đèn cảnh báo nguy hiểm hình tam giác với rất nhiều tính năng hữu ích dành cho các bạn chạy xe, nhất là
        những lúc gặp sự cố hay cần ánh sáng kiểm tra xe vào ban đêm</p>
      <p class="author">nhuquynh123 - 16/10/2021</p>
      <app-star id="REVIEWPOST02" rate="5"></app-star>
    </div>
  </div>
  <div class="post row">
    <div class="col-3">
      <img src="https://i.ytimg.com/vi/QrLaCaa2k80/maxresdefault.jpg" alt="">
    </div>
    <div class="content col-9">
      <h5>Trên tay đèn cảnh báo nguy hiểm đa năng, khá hữu ích cho các tài xế hay chạy đêm</h5>
      <p>Một cái đèn cảnh báo nguy hiểm hình tam giác với rất nhiều tính năng hữu ích dành cho các bạn chạy xe, nhất là
        những lúc gặp sự cố hay cần ánh sáng kiểm tra xe vào ban đêm</p>
      <p class="author">nhuquynh123 - 16/10/2021</p>
      <app-star id="REVIEWPOST03" rate="3"></app-star>
    </div>
  </div>
</div>
