.header{
    background: linear-gradient(45deg,#02306C,#F927A5);
    height: 220px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
h4{
    color: #FFF;
}
.header>h5{
    color: #FFF;
    font-weight: 400;
    margin: 20px 0;
    line-height: 25px;
}
button{
    border-radius: 5px;
    border: none;
    padding: 5px 40px;
    margin-top: 10px;
}
.container-reviewhub{
    margin: 0 auto;
    width: 90%;
}
.navbar-reviewhub{
    display: block;
    background-color: #F6F6F6;
    padding: 0;
}
.navbar-reviewhub h5{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
}
.navbar-reviewhub ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.navbar-reviewhub ul li{
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #AFAFAF;
}
.navbar ul li:first-child{
    border-top: 1px solid #AFAFAF;
}
.navbar-reviewhub ul li:hover{
    background-color: #87C0F3;
    color: #FFF;
}
.active{
    background-color: #87C0F3;
    color: #FFF;
}
.listPost-reviewhub{
    padding-top: 52px;
}
.post-reviewhub{
    position: relative;
    width: 95%;
    height: 152px;
    border-bottom: 2px solid #AFAFAF;
    margin-bottom: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.post-reviewhub div img{
    max-width: 100%;
    max-height: 130px;
    width: auto;
    height: auto;
    display: inline;
    border-radius: 10px;
}
.post-reviewhub .col-3{
    padding: 0;
    margin: 0 auto;
}
.post-reviewhub h5{
    display: inline-block;
}
.author-reviewhub{
    margin: 0;
    position: absolute;
    float: left;
    bottom: 0;
    font-style: italic;
    font-size: 16px;
}
.content-reviewhub>app-star{
    position: absolute;
    bottom: 0;
    right: 0;
}
.avg-star-reviewhub{
    max-height: 20px;
    text-align: center;
    color: gold;
    font-size: 16px;
}
.star{
color: gold;
}
.pagination{
    margin: auto;
    text-align: center;
    width: 100%;
    display: inline;
}
.overview-review{
    font-size: 16px!important;
}