.container{
    margin-top: 3px;
}
.avatar-user{
    max-height: 100px;
    max-width: 100px;
    height: auto;
    width: auto;
}
.pagination{
    margin: auto;
    text-align: center;
    width: 100%;
    display: inline;
}