<div class="container">
<table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Ảnh đại diện</th>
        <th scope="col">Họ và Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Ngày Sinh</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listUsers">
        <td>{{user.UserName}}</td>
        <td><img class="avatar-user" [src]="user.Avatar" alt=""></td>
        <td>{{user.FullName}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.DOB|date:'dd-MM-yyyy'}}</td>
        <td>{{user.Address}}</td>
        <td><button class="btn btn-danger">Xoá</button></td>
      </tr>
    </tbody>
  </table>
</div>