<div class="container-fluid">
  <div class="row">
    <div class="share-experience col-9">
      <div class="intro">
        <h5 (click)="shareExp()">Chia sẻ kinh nghiệm</h5>
        <a (click)="shareExp()">Xem tất cả</a>
      </div>
      <div class="content-share-experience">
        <div class="share-post" *ngFor="let itemS of listShareExpPost" id="{{itemS.dataPost.Id}}">
          <img [src]="itemS.dataPost.Image || 'https://4.bp.blogspot.com/-OCutvC4wPps/XfNnRz5PvhI/AAAAAAAAEfo/qJ8P1sqLWesMdOSiEoUH85s3hs_vn97HACLcBGAsYHQ/s1600/no-image-found-360x260.png'" alt="">
          <p>{{itemS.dataPost.Title}}</p>
        </div>
      </div>
    </div>
    <div class="forums col-3">
      <h5>Forums</h5>
      <div class="forum-post" *ngFor="let itemF of listForumPost" id="{{itemF.dataPost.Id}}">
        <img
          [src]="itemF.dataPost.Image || 'https://4.bp.blogspot.com/-OCutvC4wPps/XfNnRz5PvhI/AAAAAAAAEfo/qJ8P1sqLWesMdOSiEoUH85s3hs_vn97HACLcBGAsYHQ/s1600/no-image-found-360x260.png'"
          alt="">
        <div class="forum-post-content">
          <h6>{{itemF.dataPost.Title}}</h6>
          <p>{{itemF.dataPost.Overview}}</p>
        </div>
      </div>
      <input type="button" value="Xem tất cả">
    </div>
  </div>
  <div class="review">
    <h5 (click)="reviewHub()">Review Hub</h5>
    <input type="button" value="+ Viết bài review">
    <div class="review-content row">
      <div class="review-post-background col-3"></div>
      <div class="review-post-background col-3"></div>
      <div class="review-post-background col-3"></div>
      <div class="review-post-background col-3"></div>


    </div>
    <div class="review-content2 row">
      <div class="review-post meet col-3" *ngFor="let itemR of listReviewPost | paginate: {itemsPerPage: 4, currentPage:p}" id="{{itemR.dataPost.Id}}">
        <img [src]="itemR.dataPost.Image||'https://4.bp.blogspot.com/-OCutvC4wPps/XfNnRz5PvhI/AAAAAAAAEfo/qJ8P1sqLWesMdOSiEoUH85s3hs_vn97HACLcBGAsYHQ/s1600/no-image-found-360x260.png'" alt="">
        <h6>{{itemR.dataPost.Title}}</h6>
        <p>{{itemR.dataPost.Overview}}</p>
      </div>

    </div>
    <pagination-controls class="pagination"
    previousLabel="" 
    nextLabel="" (pageChange)="p=$event"></pagination-controls>
  </div>
</div>
