.container-fluid{
    background-color: #F0F0F0;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 3px;
    height: 100%;
}
.container-search{
    margin: 0 auto;
    width: 80%;
    background-color: #FFF;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 10%);
}
h4{
    padding-top: 20px;
    padding-left: 10px;

}
.listPost-search{
    padding-top: 20px;
}
.post-search{
    position: relative;
    width: 95%;
    height: 154px;
    border-bottom: 1px solid #AFAFAF;
    padding-bottom: 2px;
    margin-bottom: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.post-search div img{
    max-width: 100%;
    max-height: 130px;
    width: auto;
    height: auto;
    display: inline;
    border-radius: 10px;
}
.post-search .col-3{
    padding: 0;
    margin: 0 auto;
}
.post-search h5{
    display: inline-block;
}
.post-search h5:hover{
    color: rgb(23,96,147);
}
.author-search{
    margin: 0;
    position: absolute;
    float: left;
    bottom: 0;
    font-style: italic;
    font-size: 16px;
}
app-star{
    position: absolute;
    bottom: 0;
    right: 0;
}
.avg-star{
    max-height: 20px;
    text-align: center;
    color: gold;
}
.star{
color: gold;
}
.pagination{
    margin: auto;
    text-align: center;
    width: 100%;
    display: inline;
}
.overview-search{
    font-size: 16px!important;
}