.background{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    background-color: #f6f6ff;
}
.container-readpost{
    margin: 0 auto;
    width: 60%;
    height: auto;
    background-color: #FFF;
    min-height: 100vh;
    padding: 20px 30px;
    position: relative;
}
#title{
    text-align: center;
    margin-top: 40px;
}
img{
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
}
.image{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.description{
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
#content > p{
    font-size: 20px;
}
.author{
    width: 100%;
    text-align: right;
    padding-right: 40px;
}
.star-readpost{
    display: flex;
    margin-left: 50px;
}
#content{
    width: 100%;
}
#btn_updatePost{
    position: absolute;
    right: 0;
}