<div class="background">
  <div class="container-readpost">
    <div id="btn_updatePost">
    <button *ngIf="isOwner" id="btn_control" class="btn btn-warning" routerLink="/update-post/{{groupId}}/{{postId}}">Chỉnh sửa bài viết</button>
    <button *ngIf="!isApproved" id="btn_control" class="btn btn-success" routerLink="/admin" (click)="updatePostStatus()">Duyệt bài viết</button>
    <button *ngIf="isOwner||isAdmin" id="btn_control" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePost">Xoá bài viết</button>
  </div>
    <h2 id="title">{{post.dataPost.Title}}</h2>
    <div class="author">
      <span>{{post.FullName}} - {{post.dataPost.CreateAt|date:'HH:mm dd/MM/yyyy'}}</span>
    </div>
    <div class="image">
      <img
        [src]="post.dataPost.Image || 'https://4.bp.blogspot.com/-OCutvC4wPps/XfNnRz5PvhI/AAAAAAAAEfo/qJ8P1sqLWesMdOSiEoUH85s3hs_vn97HACLcBGAsYHQ/s1600/no-image-found-360x260.png'"
        alt="">
    </div>
    <div class="description">
      <h6>{{post.dataPost.Overview}}</h6>

    </div>
    <div id="content" [innerHtml]="post.dataPost.Content"></div>
    <h5>Đánh giá bài viết</h5>
    <app-star class="star-readpost" id="{{post.dataPost.Id}}" rate="5"></app-star>
    <app-comment  [countCmt]="post.CommentCount||0" [postId]="post.dataPost.Id" [listCmt]="post.Comment||{}"></app-comment>
  </div>
</div>

<!-- Delete Post -->
<div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePostLabel">Xoá bài viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Bạn có chắc chắn muốn xoá bài viết này không?<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  routerLink="/admin" (click)="deletePost()">Xoá</button>
      </div>
    </div>
  </div>
</div>